.info {
  display: inline-block;
  margin-left: 15px;
  color: white;
  vertical-align: top;
  padding: 5px 0px 5px 0;
}

.info div {
  padding: 3px 0px 3px 0;
}

.coin-info {
  border: solid 2px rgb(170, 28, 224);
  border-radius: 20px;
  background: rgba(106, 112, 115);
  margin-bottom: 10px;
}

form {
  margin-bottom: 10px;
}

input {
  font-size: 20px;
}

img {
  padding: 5px;
  vertical-align: center;
  width: 75px;
}

button {
  margin-left: 10px;
  font-size: 20px;
}

.symbol {
  font-size: '2em';
  font-weight: 900;
}